.repair {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 20px;
}

.repair__title {
  font-size: 36px;
  font-family: "Intro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.repair__title::after {
  content: "";
  width: 74px;
  height: 3px;
  display: block;
  background-color: #44e0dd;
}

.repair__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.repair__link1 {
  font-size: 12px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-decoration: none;
}

.repair__link2 {
  font-size: 12px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
}

.repair__blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.repair__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.repair__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-decoration: none;
}

.repair__see-next,
.repair__button--active {
  width: 162px;
  height: 53px;
  border-radius: 50px;
}

.repair__button--active {
  background-color: rgb(68, 224, 221);
}

.repair__see-next {
  background-color: rgb(184, 185, 185);
  margin-top: 20px;
  margin-bottom: 30px;
}

.repair__image {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 11px 0px rgba(114, 112, 112, 0.23);
  width: 320px;
  min-height: 416px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repair__image img {
  width: 300px;
  height: 326px;
}

.repair__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.repair__text {
  font-size: 16px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-left: 5%;
  margin-right: 5%;
}

.repair__text--bold {
  font-family: "open sans semibold";
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 50px;
}

.repair__lists {
  padding: 0;
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
}

.repair__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.11);
}

.repair__name {
  font-size: 16px;
  font-family: "open sans semibold";
  color: rgb(0, 0, 0);
  line-height: 1.2;
}

.repair__description {
  font-size: 16px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
}

.repair__buttons {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 45px;
  margin-bottom: 55px;
}

.repair__but {
  font-size: 16px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  border: 1px solid rgb(68, 224, 221);
  width: 166px;
  height: 57px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

  .repair__but-active {
  background-color: rgb(68, 224, 221);
  width: 162px;
  height: 53px;
}

.repair__price {
  font-size: 16px;
  font-family: "open sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.5;
}

.repair__list button {
  border: 1px solid rgb(68, 224, 221);
  border-radius: 50px;
  background-color: rgba(54, 210, 200, 0);
  font-size: 15px;
  font-family: "Intro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  transform: matrix( 0.91362126245847,0,0,0.91891891891892,0,0);
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

.repair__info {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  font-size: 12px;
  font-family: "open sans";
  line-height: 1.2;
  text-align: left;
}

.repair__active {
  background: linear-gradient( 90deg, rgb(16,129,108) 0%, rgb(110,244,241) 100%);
}


@media (min-width: @size-tablet) {
  .repair__list button {
    margin-top: 10px;
  }
  .repair__but {
    margin-right: 24px;
  }

  .repair__image {
    width: 374px;
    min-height: 486px;
  }

  .repair__image img {
    width: 331px;
    height: 359px;
  }

  .repair__button {
    margin: 0;
    margin-right: 10px;
  }

  .repair__buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .repair__see-next {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .repair__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .repair__name {
    width: 150px;
  }

.repair__description {
  width: 200px;
}
}

@media (min-width: @size-desktop) {
  .repair {
    padding-bottom: 55px;
  }
  .repair__blocks {
    flex-direction: row;
  }

  .repair__info {
    width: 740px;
  }

  .repair__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .repair__texts {
    margin-right: 0;
    margin-left: 50px;
  }

  .repair__text:first-child {
    margin-top: 0;
  }

  .repair__list button {
    width: 279px;
    height: 72px;
    margin: 20px;
  }
}
